You have been asked to support the Los Angeles Police Department (LAPD) by analyzing crime data to identify patterns in criminal behavior. They plan to use your insights to allocate resources effectively to tackle various crimes in different areas.

## The Data

Modified version of the original data, which is publicly available from Los Angeles Open Data.

# crimes.csv

| Column     | Description              |
|------------|--------------------------|
| `'DR_NO'` | Division of Records Number: Official file number made up of a 2-digit year, area ID, and 5 digits. |
| `'Date Rptd'` | Date reported - MM/DD/YYYY. |
| `'DATE OCC'` | Date of occurrence - MM/DD/YYYY. |
| `'TIME OCC'` | In 24-hour military time. |
| `'AREA NAME'` | The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example, the 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles. |
| `'Crm Cd Desc'` | Indicates the crime committed. |
| `'Vict Age'` | Victim's age in years. |
| `'Vict Sex'` | Victim's sex: `F`: Female, `M`: Male, `X`: Unknown. |
| `'Vict Descent'` | Victim's descent:<ul><li>`A` - Other Asian</li><li>`B` - Black</li><li>`C` - Chinese</li><li>`D` - Cambodian</li><li>`F` - Filipino</li><li>`G` - Guamanian</li><li>`H` - Hispanic/Latin/Mexican</li><li>`I` - American Indian/Alaskan Native</li><li>`J` - Japanese</li><li>`K` - Korean</li><li>`L` - Laotian</li><li>`O` - Other</li><li>`P` - Pacific Islander</li><li>`S` - Samoan</li><li>`U` - Hawaiian</li><li>`V` - Vietnamese</li><li>`W` - White</li><li>`X` - Unknown</li><li>`Z` - Asian Indian</li> |
| `'Weapon Desc'` | Description of the weapon used (if applicable). |
| `'Status Desc'` | Crime status. |
| `'LOCATION'` | Street address of the crime. |

In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
crimes = pd.read_csv("crimes.csv", parse_dates=["Date Rptd", "DATE OCC"], dtype={"TIME OCC": str})
crimes.head()

       DR_NO  Date Rptd  ...  Status Desc                                  LOCATION
0  221412410 2022-06-15  ...  Invest Cont  13600    MARINA POINT                 DR
1  220314085 2022-07-22  ...  Invest Cont   2500 S  SYCAMORE                     AV
2  222013040 2022-08-06  ...  Invest Cont   3300    SAN MARINO                   ST
3  220614831 2022-08-18  ...  Invest Cont                         1900    TRANSIENT
4  231207725 2023-02-27  ...  Invest Cont   6200    4TH                          AV

[5 rows x 12 columns]

In [82]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247988 entries, 0 to 247987
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         247988 non-null  int64
 1   Date Rptd     247988 non-null  datetime64[ns]
 2   DATE OCC      247988 non-null  datetime64[ns]
 3   TIME OCC      247988 non-null  object
 4   AREA NAME     247988 non-null  object
 5   Crm Cd Desc   247988 non-null  object
 6   Vict Age      247988 non-null  int64
 7   Vict Sex      215740 non-null  object
 8   Vict Descent  215739 non-null  object
 9   Weapon Desc   80087 non-null   object
 10  Status Desc   247988 non-null  object
 11  LOCATION      247988 non-null  object
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 22.7+ MB

Which hour has the highest frequency of crimes?

In [83]:
crimes['TIME OCC'] = pd.to_datetime(crimes['TIME OCC'], format='%H%M')
crimes['HOUR OCC'] = crimes['TIME OCC'].dt.hour

crimes_hour = crimes.groupby('HOUR OCC')['TIME OCC'].count().reset_index()
peak_crime = crimes_hour['TIME OCC'].max()
peak_crime_hour = crimes_hour[crimes_hour['TIME OCC'] == peak_crime]['HOUR OCC'].astype(int)
peak_crime_hour = int(peak_crime_hour)

print('Peak crime hour in LA:\n')
print(peak_crime_hour)

Peak crime hour in LA:

12

Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)?

In [84]:
night_crimes = crimes[(crimes['TIME OCC'].dt.hour >= 22) | (crimes['TIME OCC'].dt.hour <= 3)]
peak_night_crime_location = night_crimes['AREA NAME'].value_counts().idxmax()

print('Area with highest frequency of night crimes:\n')
print(peak_night_crime_location)

Area with highest frequency of night crimes:

Central

Identify the number of crimes committed against victims by age group (<18, 18-25, 26-34, 35-44, 45-54, 55-64, 65+).

In [85]:
age_bins = [0, 17, 25, 34, 44, 54, 64, np.inf]
age_labels = ["<18", "18-25", "26-34", "35-44", "45-54", "55-64", "65+"]

crimes["Age Bracket"] = pd.cut(crimes["Vict Age"],
                               bins=age_bins,
                               labels=age_labels)

victim_ages = crimes["Age Bracket"].value_counts()
print(victim_ages)

26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
<18       4528
Name: Age Bracket, dtype: int64